.index-page {
  .profile-photo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    padding: 5px;
    display: inline-block;
    margin-top: -80px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/patterns/darkness.png);
    content: url(../images//icons//avatar.gif);
    border-width: 0.25rem !important;
    @extend .scroll, .border, .border-secondary;

    img {
      width: 150px;
      height: 150x;
      max-width: 100%;
      border-radius: 50%;
    }
  }
}

.print-only {
  .profile-name {
    @extend .text-dark, .h4, .m-0;
  }
}
