.navbar, .navbar-menu, .footer {
    background-image: url('/img/patterns/binding_dark.png');
}

.navbar {
    line-height: 64px;
}

.navbar-menu.hamburger .navbar-item:hover {
    cursor: pointer;
}

.footer {
    
}

.navbar-brand a, .navbar-item span {
    color: $light;
}

.navbar-brand a:hover, .navbar-item:hover span {
    color: $primary;
}
.navbar-brand a:active, .navbar-item:active span {
    color: $info;
}

.navbar-item:hover, .navbar-item:active {
    cursor: pointer;
}