.scroll{

    -webkit-animation:100s scroll infinite linear;
    -moz-animation:100s scroll infinite linear;
    -o-animation:100s scroll infinite linear;
    -ms-animation:100s scroll infinite linear;
    animation:100s scroll infinite linear;
    top:0;
    left:0;
    width:100%;
   height:100%;
  }
  
  .reverseScroll{
    -webkit-animation:100s reverseScroll infinite linear;
    -moz-animation:100s reverseScroll infinite linear;
    -o-animation:100s reverseScroll infinite linear;
    -ms-animation:100s reverseScroll infinite linear;
    animation:100s reverseScroll infinite linear;
    top:0;
    left:0;
    width:100%;
   height:100%;
  }
  
  .reverseScrollSlow{
    -webkit-animation:250s reverseScroll infinite linear;
    -moz-animation:250s reverseScroll infinite linear;
    -o-animation:250s reverseScroll infinite linear;
    -ms-animation:250s reverseScroll infinite linear;
    animation:250s reverseScroll infinite linear;
    top:0;
    left:0;
    width:100%;
   height:100%;
  }
  
  @-webkit-keyframes scroll{
    100%{
      background-position:0px -3000px;
    }
  }
  
  @-moz-keyframes scroll{
    100%{
      background-position:0px -3000px;
    }
  }
  
  @-o-keyframes scroll{
    100%{
      background-position:0px -3000px;
    }
  }
  
  @-ms-keyframes scroll{
    100%{
      background-position:0px -3000px;
    }
  }
  
  @keyframes scroll{
    100%{
      background-position:0px -3000px;
    }
  }
  
  @-webkit-keyframes reverseScroll{
    100%{
      background-position:0px 3000px;
    }
  }
  
  @-moz-keyframes reverseScroll{
    100%{
      background-position:0px 3000px;
    }
  }
  
  @-o-keyframes reverseScroll{
    100%{
      background-position:0px 3000px;
    }
  }
  
  @-ms-keyframes reverseScroll{
    100%{
      background-position:0px 3000px;
    }
  }
  
  @keyframes reverseScroll{
    100%{
      background-position:0px 3000px;
    }
  }