.section-header {
  @extend .h4, .text-uppercase, .font-weight-bold, .text-light;
}

.progress.border {
  @extend .border-primary;
}

.progress > .progress-bar {
  @extend .bg-primary;
}

.section-progress-buttons {
  @extend .text-primary;
}

.section-progress-buttons svg:hover {
  @extend .text-light;
  cursor: pointer;
}

.section-progress-buttons:active svg:hover {
  @extend .text-primary;
  cursor: pointer;
}

.section.as-row {
  .section-elements {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    flex-wrap: wrap;
    & > div > span {
      @extend .m-1, .p-2, .rounded, .badge, .badge-pill, .badge-primary;
    }
    & > div > a {
      @extend .m-1, .p-2, .rounded, .badge, .badge-pill, .badge-info;
    }
  }
}

hr {
  @extend .bg-light, .my-3;
  height: 4px;
}

.section {
  @extend .my-3;
}
